<h1>Video Game Genres</h1>


<p>
  <%= button_to "Back to Favorite Video Games", video_games_path, :method => "get" %>
</p>

<p>Click on a genre below to see all video games in that genre</p>
  <% alphabetize(@genres).each do |genre| %>
    <p><%= link_to genre.name, genre_path(genre) %></p>
  <% end %>