<h1><%= @genre.name %></h1>

<p>
      <%= button_to "Back to Genres", genres_path, :method => "get" %>
</p>

<p>
  <%= button_to "Back to Favorite Video Games", video_games_path, :method => "get" %>
</p>

<p>Video Games:</p>
  <% @video_games.each do |video_game| %>
    <p><%= link_to video_game.title, video_game_path(video_game) %></p>
  <% end %>