    <div><% @video_games.each do |video_game| %>
        <p> Game: <%= link_to video_game.title, video_game_path(video_game) %>
        Genre: <%= video_game.genre.name %> </p>
    </div>
    <% end %>
