<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Genres</th>
    </tr>
  </thead>
  <tbody>
    <% @video_games.each do |video_game| %>
      <tr>
        <th scope="row"><%= link_to video_game.title, video_game_path(video_game) %></th>
        <td><%= video_game.genres.map { |genre| genre.name }.join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>