<h1>Create a New Favorite Video Game</h1>
<%= render partial: 'form', locals: {video_games: @video_games} %>
</br>
<p>
  <%= button_to "Back to Favorite Video Games", video_games_path, :method => "get" %>
</p>