<h1>Sign Up for Favorite Video Game-Space 2</h1>
<p><%= button_to "Sign Up with Google", '/auth/google' %></p>
<p>or enter in your details below:</p>

<% if @user.errors.any? %>
<div class="alert alert-danger" role="alert">
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>