<h1>Welcome to Favorite Video Game-Space 2!</h1>
</br>
<h1>Share/recommend your favorite video games for the world to see and learn! Join us on the nerdiest (yet most fun) social media site!</h1>
</br>
<h1>Now categorizing games by genre!</h1>
</br>
<%= button_to "Sign Up", new_user_path, :method => "get" %>
<%= button_to "Log In", login_path, :method => "get" %>
